
* {box-sizing: border-box;}
body {
    margin: 0;
    padding: 0;
}
.flex-containter {
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction:row;
}
header {
    height:45px;
 background-color: red;
 display: flex;
 border-bottom:solid 2px rgb(63, 59, 59);
}
.nav-1 {
    height: 100%;
    width: 90%;
    direction: rtl;
    background-color: #818584;
    text-align: center;
    
  }
  .nav-1 a {
    color:#ffffff;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    border-bottom:solid 2px rgb(63, 59, 59);
    border-right:solid 2px rgb(63, 59, 59);
    border-left:solid 2px rgb(63, 59, 59);
}
.nav-1 a:hover {
    background:#000000;
    
}
footer {
    display: flex;
    color: rgb(255, 255, 255); ;
    background: #818584;
    text-align: center;
    height:55px auto;
    justify-content: center;
    border-top:solid 2px rgb(63, 59, 59);
   
}
 main {
 width: 100%;
 height: 900px;
display: flex;

    background-color: rgb(207, 198, 198);}
    aside {
          width: 10%;
          background: #818584;
          border-right:solid 2px rgb(63, 59, 59);
    }
    .icon {
        height: 100%;

        width: 10%;
        background-color: #696969
    }
    section {
        background-color: (207, 198, 198);;
     width: 60%;   
     }
     section h1 {
      font-size: 30px;
     }
     section h2 { 
         font-size: 58px;
     }

.icon{
    font-size:30px;
    text-align: center;
}
.icon a{
    color: rgb(12, 12, 12);
}
.icon a :hover{
    color: rgb(255, 15, 15);
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
@font-face {
    font-family: Clip;
    src: url("https://acupoftee.github.io/fonts/Clip.ttf");
  }
  
  body {
    background-color: #141114;
    background-image: linear-gradient(335deg, black 23px, transparent 23px),
      linear-gradient(155deg, black 23px, transparent 23px),
      linear-gradient(335deg, black 23px, transparent 23px),
      linear-gradient(155deg, black 23px, transparent 23px);
    background-size: 58px 58px;
    background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
  }
  
  .sign {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    background-image: radial-gradient(
      ellipse 50% 35% at 50% 50%,
      #5e5d5d,
      transparent
    );
    transform: translate(-50%, -50%);
    letter-spacing: 2;
    left: 50%;
    top: 50%;
    font-family: "Clip";
    text-transform: uppercase;
    font-size: 6em;
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #000000,
      -0.2rem 0.1rem 1rem #ffffff, 0.2rem 0.1rem 1rem #8f8a8d,
      0 -0.5rem 2rem #161616, 0 0.5rem 3rem #797778;
      animation: shine 3s  infinite linear;
  }
  
  @keyframes blink {
    0%,
    22%,
    36%,
    75% {
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #6e6e6e,
        -0.2rem 0.1rem 1rem #353434, 0.2rem 0.1rem 1rem #000000,
        0 -0.5rem 2rem #9c9699, 0 0.5rem 3rem #030202;
    }
    28%,
    33% {
      color: #302f30;
      text-shadow: none;
    }
    82%,
    97% {
      color: #050505;
      text-shadow: none;
    }
  }
  
  .flicker {
    animation: shine 3s  infinite linear;
  }
  
  .fast-flicker {
    animation: shine 3s  infinite linear;
  }
  
  @keyframes shine {
    0% {
      color: #585858;
      text-shadow: none;
      letter-spacing: 30px;
    }
    25%{
      
        letter-spacing: 8px;

    }
    50% {
        letter-spacing: 30px;

    }
    100% {
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem #ad0505, 0 0 1.5rem #fcfcfc,
        -0.2rem 0.1rem 1rem #ce0808, 0.2rem 0.1rem 1rem #747172,
        0 -0.5rem 2rem #da1515, 0 0.5rem 3rem #b61111;
        letter-spacing: 8px;
    }
  }
  
